# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 130

[*.sln]
indent_style = tab

[*.{json,yaml,yml}]
indent_size = 2

[*.{csproj,xml}]
indent_style = tab

###############################
# .NET Coding Conventions     #
###############################
[*.cs]
# Organize usings
dotnet_sort_system_directives_first = true
# Expression-level preferences
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:silent
###############################
# Naming Conventions          #
###############################
# Style Definitions
dotnet_naming_style.pascal_case_style.capitalization = pascal_case
###############################
# C# Formatting Rules         #
###############################
# Space preferences
csharp_space_after_cast = false
